<h3>Senarai ahli</h3>
<hr>
<form>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
      <input type="text" class="form-control" placeholder="Cari Ahli (Nama, No kad pengenalan, ... )" ng-model="filterAhli">
    </div>
  </div>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <td>No.</td>
      <td>Kad Pengenalan</td>
      <td>Nama Ahli</td>
      <td>Nombor Telefon</td>
      <td>Status</td>
      <td>View</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in member | filter:filterAhli | orderBy:'fullname'">
      <td></td>
      <td>{{x.icnumber}}</td>
      <td>{{x.fullname}}</td>
      <td>{{x.phone.mobile}}</td>
      <td>{{x.status}}</td>
      <td><a ng-href="/member/{{x.icnumber}}">Maklumat Penuh</a> | <a ng-href="#">Rekod Pembayaran</a></td>
    </tr>
  </tbody>
</table>
<a href="/member/new" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Daftar Ahli Baru</a>
