<h3>Senarai ahli</h3>
<hr>
<form>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            <input type="text" class="form-control" placeholder="Cari Ahli (Nama, No kad pengenalan, ... )" ng-model="filterAhli">
        </div>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <td>No.</td>
            <td>Kad Pengenalan</td>
            <td>Nama Ahli</td>
            <td>Nombor Telefon</td>
            <td>View</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in member | filter:filterAhli">
            <td></td>
            <td>{{x.icnumber}}</td>
            <td>{{x.fullname}}</td>
            <td>{{x.mobilenumber}}</td>
            <td><a href="/member/{{x.icnumber}}">Maklumat Penuh</a> | <a href="/payment/member={{x.icnumber}}">Rekod Pembayaran</a></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<h3>Daftar ahli baru</h3>
<hr>
<form ng-submit="addMember()">
    <div class="form-group">
        <input type="text" placeholder="Nama ahli" class="form-control" ng-model="inputNewMember.fullname"></input>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Alamat rumah" class="form-control" ng-model="inputNewMember.homeaddress"></input>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Tarikh lahir" class="form-control" ng-model="inputNewMember.dob"></input>
    </div>
    <div class="form-group">
        <input type="text" placeholder="No Kad Pengenalan" class="form-control" ng-model="inputNewMember.icnumber"></input>
    </div>
    <div class="form-group">
        <input type="text" placeholder="No telefon rumah" class="form-control" ng-model="inputNewMember.homenumber"></input>
    </div>
    <div class="form-group">
        <input type="text" placeholder="No telefon bimbit" class="form-control" ng-model="inputNewMember.mobilenumber"></input>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Pekerjaan" class="form-control" ng-model="inputNewMember.occupation"></input>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Alamat email" class="form-control" ng-model="inputNewMember.email"></input>
    </div>
    <button type="submit" class="btn btn-primary">Daftar Ahli</button>
    <span>{{status}}</span>
</form>
